/*#region Start global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #eee !important;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #17161e !important;
  /*background: url("../images/background-web.jpg") no-repeat center fixed;*/
  background-size: cover;
  color: #eee;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

section {
  padding: 6rem;
}

a {
  color: #eee !important;
  text-decoration: none;
}

p {
  color: #eee;
  font-size: 1.8rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eee;
}

img {
  width: 100%;
}

/*#endregion End global */

/*#region Start reusable */
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h2 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h2::before,
.section-heading h2::after {
  content: "";
  position: absolute;
  margin-bottom: 1.5rem;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h2::before {
  width: 10rem;
  height: 2px;
  border-radius: 0.8rem;
}

.section-heading h6 {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

.has-margin-top {
  margin-top: 2rem !important;

}

/*#endregion End reusable */

/*#region Start header */
header {
  height: 100vh;
  width: 100%;
}

.top-nav {
  background-color: #131319;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  width: 100%;
  z-index: 50;
}

.nav-list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  width: 100%;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: color 650ms;
  color: #eee;
}

.nav-link:hover,
.nav-link:focus {
  color: #17f9d1 !important;
}

.top-nav.open {
  border-radius: initial;
  top: 0;
}

.menu-toggler {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4rem;
  position: absolute;
  top: 5rem;
  transition: transform 650ms ease-out;
  right: 5rem;
  width: 5rem;
  z-index: 1500;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, #17161e, #17f9d1);
  border-radius: 0.8rem;
  height: 4px;
  width: 100%;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-90deg) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-90deg) translateX(-0.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  text-transform: uppercase;
  background: linear-gradient(to top, #17161e, #17f9d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}

/*#endregion End header */

/*#region Start about */
.about .container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-details .cta {
  text-decoration: none;
  color: #17f9d1 !important;
  transition: color 650ms;
}

.about-details .cta:hover {
  color: #0f9f86 !important;
}

.about-heading {
  line-height: 0;
  margin-bottom: 6rem;
  text-align: center;
  text-transform: uppercase;
}

.about-heading h2 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.profile-img img {
  border-radius: 1%;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.3));
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.2));
}

.fa-github-square:hover {
  color: #bd2c00;
}

.fa-twitter-square:hover {
  color: #38a1f3;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

/*#endregion End about */

/*#region Start services */
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 2rem;
}

.skill h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #17f9d1;
  background-color: #17161e;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.2));
}

.icon-container i {
  color: #17f9d1;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 4px solid #17f9d1;
  margin-top: 2rem !important;
  padding: 1.5rem;
}

blockquote:before {
  color: #ccc;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/*#endregion End services */

/*#region Start portfolio */
.portfolio {
  background-color: #1E1D28;
}

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-img.animated {
  animation: filter-animation 5s infinite;
  -webkit-animation: filter-animation 5s infinite;
}

.portfolio-img img {
  border-radius: 1%;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.3));
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #17f9d1 !important;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #0f9f86 !important;
}

/*#endregion End portfolio */

/*#region Start experience */
.timeline ul {
  border-left: 4px solid #17f9d1;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.timeline .date {
  color: #eee;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #17f9d1;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #17161e;
}

/*#endregion End experience */

/*#region Start contact */
.contact {
  background-color: #17161e;
}

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  color: #eee;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 1.4rem;
  margin-top: 5px;
  border: none;
  outline-color: #17f9d1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #efefef;
  border-radius: 3px;
  font-size: 1em;
}

.form-input {
  margin-bottom: 2rem !important;
}

input[type="submit"] {
  width: initial;
  background-color: #23222f;
  color: #eee;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: 1px solid #17161e;
  cursor: pointer;
  transition: background-color 800ms, border 800ms;
}

input[type="submit"]:hover {
  color: #17f9d1;
  background-color: #17161e;
  border: 1px solid #17f9d1;
}

/*#endregion End contact */

/*#region Start footer */
.copyright {
  width: 100%;
  text-align: center;
  background-color: #17161e;
  padding: 2rem 0;
  position: relative;
}

.up {
  cursor: pointer;
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #2a2939;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  transition: background-color 650ms;
}

.up:hover {
  background-color: #17161e;
}

.up i {
  color: #17f9d1;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

/*#endregion End footer */

/*#region Start animations */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(23, 249, 209, 0.99);
  }

  70% {
    box-shadow: 0 0 0 2rem rgba(23, 249, 209, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(23, 249, 209, 0);
  }
}

/*#endregion End animations */

/*#region Start media queries */
